{% extends "boss/base.html"%}
{% load static %}



{% block content %}

    <div data-options="region:'north',border:false" style="height:60px;background: #eff5ff;padding:10px">
         <strong>Boss of C+ </strong>
         
         <div style="float: right; margin-left: 10px;"><small id="login_info"></small></div>
         
    </div>
    
    <div class="easyui-panel" data-options="region:'west',split:true,title:'导航'" style="width:200px; height: 100%;">
        <ul class="easyui-tree" id="menuTree" >
            
        </ul>
    </div>

    
    <div class="easyui-tabs" id="tabContainer" data-options="region:'center',title:'内容'" style="width:100%;height:100%;">
        
        <div title="Welcome" style="padding:10px" data-options="closable:true">
            <p>welcome here</p>
        </div>
        
    </div>


<script>

function addTab(title, url){
    var container = $("#tabContainer");
    
    if (container.tabs('exists', title)){
        container.tabs('select', title);
    } else {
        var content = '<iframe scrolling="auto" frameborder="0" src="'+url+'" style="padding:10px;width:98%;height:95%;"></iframe>';
        container.tabs('add',{
            title:title,
            content:content,
            closable:true
        });
    }
}

$(document).ready(function(){
	var menu_url = "{% url boss.api.user.get_my_menus %}";
	
	$("#menuTree").tree({
		url: menu_url,
		onClick: function(node){
			if(!node.url) {
				return;
			} 
			
			addTab(node.text, node.url);
		},
		formatter: function(node){
			var html = [
	            "<a href='#'>",
	            node.text,
	            "</a>"
	        ].join(" ");
	        
	        return html;
		}
	});
});
</script>
{% endblock %}