{% extends "clawer/base.html"%}
{% load static %}


{% block body %}
<body>


<table id="grid" class="easyui-datagrid" style="width:100%;height:100%"
        fitColumns="false"  fit="false" url="{% url clawer.apis.home.clawer_task %}" showFooter="true"
        data-options="singleSelect:true,collapsible:true,method:'get'" rownumbers="true" pagination="true"
        toolbar="#toolbar" nowrap="true">
        
    <thead data-options="frozen:true">
        <tr>
            <th data-options="field:'id',width:80" sortable="true">ID</th>
            <th data-options="field:'uri',">URI</th>
        </tr>
    </thead>
    <thead>
        <tr>
            <th data-options="field:'status_name',">状态</th>
            <th data-options="field:'clawer',"  formatter="formatClawer">爬虫</th>
            <th data-options="field:'task_generator'," formatter="formatTaskGenerator">任务生成器</th>
            <th data-options="field:'add_datetime',">添加时间</th>
            <th data-options="field:'done_datetime',">结束时间</th>
        </tr>
    </thead>    
</table>



<script type="text/javascript">
function formatTaskGenerator(val) {
	if(!val) {
		return "";
	}
	return "ID: "+val.id+"("+val.add_datetime+")";
}


function formatClawer(val) {
	if(!val) {
		return "";
	}
	return "ID: "+val.id+"("+val.name+")";
}

</script>



</body>
{% endblock %}