{% extends "clawer/base.html"%}
{% load static %}


{% block body %}
<body>


<table id="grid" class="easyui-datagrid" style="width:100%;height:95%"
        url="{% url clawer.apis.home.clawer_task %}" showFooter="true"
        data-options="singleSelect:true,collapsible:true,method:'get'" rownumbers="true" pagination="true"
        toolbar="#toolbar" fitColumns="true">
        
    <thead data-options="frozen:true">
        <tr>
            <th data-options="field:'id',width:80" sortable="true">ID</th>
            <th data-options="field:'content_bytes'," formatter="formatBytes">下载内容大小</th>
        </tr>
    </thead>
    <thead>
        <tr>
            <th data-options="field:'uri',">URI</th>
            <th data-options="field:'status_name',">状态</th>
            <th data-options="field:'spend_time',">耗时(秒)</th>
            <th data-options="field:'clawer',"  formatter="formatClawer">爬虫</th>
            <th data-options="field:'task_generator'," formatter="formatTaskGenerator">任务生成器</th>
            <th data-options="field:'store',">存放路径</th>
            <th data-options="field:'start_datetime',">开始时间</th>
            <th data-options="field:'done_datetime',">结束时间</th>
            <th data-options="field:'add_datetime',">添加时间</th>
        </tr>
    </thead>    
</table>



<script type="text/javascript">
function formatTaskGenerator(val) {
	if(!val) {
		return "";
	}
	return "ID: "+val.id+"("+val.add_datetime+")";
}


function formatClawer(val) {
	if(!val) {
		return "";
	}
	return "ID: "+val.id+"("+val.name+")";
}

function formatBytes(val) {
	if(!val) {
		return 0;
	}
	
	var G = 1024*1024*1024;
	var M = 1024*1024;
	var K = 1024;
	
	if(val > G) {
		return (val/G).toFixed(2) + "G";
	} else if(val > M) {
		return (val/M).toFixed(2) + "M";
	} else if(val > K) {
		return (val/K).toFixed(2) + "K";
	}
	
	return val;
}

</script>



</body>
{% endblock %}