{% load static %}


<!DOCTYPE html>
<html>
<head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        
        <!-- site check -->
		
		<script src="{% static 'js/jquery-1.11.1.min.js' %}"></script>
		<script src="{% static 'js/jquery-migrate-1.2.1.min.js' %}"></script>
		
		<!-- responsive design -->
		<meta name="viewport" content="width=device-width, initial-scale=1.0">

		<script src="{% static 'js/respond.min.js' %}"></script>
        <link href="{% static 'bootstrap33/css/bootstrap.min.css' %}" rel="stylesheet">
        <link href="{% static 'bootstrap32/css/bootstrap-theme.min.css' %}" rel="stylesheet">
        <script src="{% static 'bootstrap33/js/bootstrap.min.js' %}"></script>
        <!-- end responsive design -->
        <link href="{% static 'img/favicon.ico' %}" type="image/x-icon" rel="shortcut icon">
        
		<link href="{% static 'css/common.css' %}" rel="stylesheet" media="screen">
        
        <title>Nice Clawer Of Princetechs</title>
</head>

<body>

<h4>云爬虫</h4>

</body>

</html>
