body {
    word-break:break-all; /*支持IE，chrome，FF不支持*/ 
    word-wrap:break-word;/*支持IE，chrome，FF*/ 
    font-family:"Microsoft YaHei",微软雅黑,"Microsoft JhengHei",华文细黑,STHeiti,MingLiu;
}

.hidden {
    display: none;
}

.top-margin {
	margin-top: 300px;
}

.logo {
    width: 24px;
    height: 24px;
}

.middle_parent {
    padding: 1% 0;
}

.middle_child {
    padding: 32% 0;
}

ul.errorlist {
  margin: 0;
  padding: 0;
}

.li-margin {
    margin-bottom: 5px;
}

.errorlist li {
    color: #b94a48;
    display: block;
    font-size: 12px;
    margin: 0 0 3px;
    padding: 4px 5px;
}

.article_body {
    color: #4c4c4d;
    line-height: 28px;
    padding-bottom: 20px;
}

.article_title {
    color: #4c4c4c;
}

.article_title a {
    color: #4c4c4d;
}

.box_margin {
    margin-bottom: 20px;
}

.nickname {
    color: #AAA;
    word-wrap: normal;
    word-break:keep-all; /*支持IE，chrome，FF不支持*/ 
    overflow: visible;  
}

.nickname li {
    padding-right: 2px;
    padding-left: 2px;
    vertical-align: middle;
}

.nickname a {
    color: #777;
}


.calendar_td {
    height: 100px;
    width: 14.285%;
}

.round {
    padding-top: 10px;
    -moz-border-radius: 65px;
    -webkit-border-radius: 65px;
    border-radius: 65px;
    height: 125px;
    width:125px;
}

.comment {
    width: 100%;
}

.footer {
    border-top:#e7e7e7 1px solid;
    text-align: center;
    padding: 15px 0 20px 0;
    /* min-width: 1030px; */
    font-size: 13px;
    margin-top: 50px;
}

.rollcall {
     background: url("/static/img/rollcall.png") no-repeat center;
}

.tomato-banner {
    right: 10px; display: block; position: fixed; z-index: 50; bottom: 100px; max-width: 150px;
}

.backtop {
    right: 10px; display: block; position: fixed; z-index: 100; bottom: 20px;
}

.label-girl {
    background-color: #f9d4e3;
}

.label-boy {
    background-color: #b6defa;
}

.label-disable {
    color: #000; 
}
