clawer
MySQL-python 
south 
raven 
python-memcached 
django-debug-toolbar 
six 
redis 
requests 
threadpool 
python-crontab 
beautifulsoup4 
rq 
selenium 
selenium-requests 
pytest-django 
jinja2 
lxml 
html5lib
pandas
python-crontab
supervisor
numpy
scipy
pandas
scikit-learn
chardet
Django==1.4.15
