{% extends "clawer/base.html"%}
{% load static %}


{% block body %}
<body>

<div id="toolbar">
    <a href="#" class="easyui-menubutton" menu="#task_generators">任务生成器</a>
    <a href="#" class="easyui-menubutton" menu="#analysis">分析器</a> 
    <a href="#" class="easyui-menubutton" data-options="menu:'#operate',">操作</a>
    
    <input type="number" id="id_input" name="id" prompt="ID" />
    
    <a href="javascript:void(0)" id="search_btn" class="easyui-linkbutton" data-options="iconCls:'icon-search'">搜索</a>
</div>

<div id="task_generators">
    <div id="task_generator_update_btn" iconCls="icon-edit">更新</div>
	<div class="menu-sep"></div>
	<div id="task_generator_info_btn" iconCls="">运行中</div>
	<div id="task_generator_history_btn" iconCls="">历史版本</div>
</div>

<div id="analysis">
    <div id="analysis_update_btn" iconCls="icon-edit">更新</div>
	<div class="menu-sep"></div>
	<div id="analysis_runing_btn" iconCls="">运行中</div>
	<div id="analysis_history_btn" iconCls="">历史版本</div>
</div>

<div id="operate">
	<div id="analysis_failed_reset_btn">重设分析失败的任务</div>
</div>

<table id="grid" class="easyui-datagrid" style="width:100%;height:100%"
        fitColumns="true" url="{% url clawer.apis.home.clawer_all %}" showFooter="true"
        data-options="singleSelect:true,collapsible:true,method:'get'" rownumbers="true" pagination="true"
        toolbar="#toolbar" rowStyler="rowStyle">
        
    <thead data-options="frozen:true">
        <tr>
            <th data-options="field:'id',width:80" sortable="true">ID</th>
            <th data-options="field:'name',">名称</th>
        </tr>
    </thead>
    <thead>
        <tr>
            <th data-options="field:'status_name',">状态</th>
            <th data-options="field:'customer',">客户名</th>
            <th data-options="field:'info',">简介</th>
            <th data-options="field:'runing_task_generator'" formatter="formatTaskGenerator">运行中的任务生成器</th>
            <th data-options="field:'runing_analysis'" formatter="formatAnalysis">运行中的分析器</th>
            <th data-options="field:'result_url'" formatter="formatResultUrl">下载数据</th>
            <th data-options="field:'add_datetime'," width="200px">添加时间</th>
        </tr>
    </thead>    
</table>


<!-- update task generator form -->
<div id="task_generator_update_win" class="easyui-window" title="更新任务生成器" closed="true" style="width:80%;height:60%;padding:5px;">
    <form method="post" id="task_generator_update_form" enctype="multipart/form-data" action="{% url clawer.apis.home.clawer_task_generator_update %}">

			<div style="margin-bottom:20px">
				<div>Python 文件:</div>
				<input id="code_file" name="code_file" class="easyui-filebox" style="width: 50%;" data-options="prompt:'选择Python文件'">
				<input id="clawer" name="clawer" type="hidden" />
				<ol class="text-muted">
				    <li>支持<code>requests, Beautiful Soup, python标准库</code></li>
				    <li>执行后输出json数据，每行json格式：{"uri":"uri地址", "download_engine":"requests|phantomjs|selenium"}。 <small>例子：{"url":"http://www.github.com"}</small></li>
				    <li>
				        <ul>
				            <li>requests: 支持使用requests库下载，不渲染页面js。</li>
				            <li>phantomjs: 支持使用phantomjs库下载，渲染页面js。</li>
				            <li>selenium: use firefox.</li>
				        </ul>
				    </li>
				    
				</ol>
			</div>
			
			<div style="margin-bottom:20px">
				<div>Crontab: <small class="text-muted">5     10      *     *       *</small></div>
				<input id="cron" name="cron" class="easyui-textbox" style="width: 50%" data-options="">
				
			</div>
			
			<div>
				<button class="easyui-linkbutton" style="width: 50px" type="submit">保存</button>
			</div>
		
    </form>
    
</div>
<!-- update task generator form end -->



<!-- task generator runing -->
<div id="task_generator_info_win" class="easyui-window" title="任务生成器详情" closed="true" style="width:80%;height:90%;padding:5px;">
</div>
<!-- task generator runing end -->


<!-- task generator history window -->
<div id="task_generator_history_win" class="easyui-window" title="任务生成器历史版本" closed="true" style="width:80%;height:90%;padding:5px;">
    
</div>
<!-- task generator history window end -->



<!-- update analysis form -->
<div id="analysis_update_win" class="easyui-window" title="更新分析器" closed="true" style="width:80%;height:60%;padding:5px;">
    <form method="post" id="analysis_update_form" enctype="multipart/form-data" action="{% url clawer.apis.home.clawer_analysis_update %}">

			<div style="margin-bottom:20px">
				<div>Python 文件:</div>
				<input id="code_file" name="code_file" class="easyui-filebox" style="width: 50%;" data-options="prompt:'选择Python文件'">
				<input id="clawer" name="clawer" type="hidden" />
				<ol class="text-muted">
				    <li>支持<code>requests, Beautiful Soup, python标准库</code></li>
				    <li>从stdin读取json数据，格式： {"path":"文件路径", "url":""}</li>
				    <li>执行后输出json格式 <small>例子：{"name":"hello"}</small></li>
				    <li>运行时间不能超过120秒</li>
				</ol>
			</div>
			
			<div>
				<button class="easyui-linkbutton" style="width: 50px" type="submit">保存</button>
			</div>
		
    </form>
    
</div>
<!-- update task generator form end -->

<!-- analysis runing -->
<div id="analysis_runing_win" class="easyui-window" title="运行中的分析器" closed="true" style="width:80%;height:90%;padding:5px;">
</div>
<!-- analysis runing end -->


<!-- analysis history window -->
<div id="analysis_history_win" class="easyui-window" title="分析器历史版本" closed="true" style="width:80%;height:90%;padding:5px;">
    
</div>
<!-- analysis history window end -->


<script type="text/javascript">

function formatResultUrl(val) {
	if(!val) {
		return "";
	}
	return "<a href='"+val+"' target='_blank'>下载</a>";
}

function formatTaskGenerator(val) {
	console.debug("task generator is: ", val);
	
	if(!val) {
		return "-";
	}
	
	return val.id + " (最后失败时间："+val.last_failed_datetime+")";
}

function formatAnalysis(val) {
	if(!val) {
		return "-";
	}
	
	return "ID: " + val.id + "(" + val.add_datetime + ")";
}

function rowStyle(index, row) {
	console.debug("index ", index, ", row status ", row.status, ", row ", row);
	if(row.status == 2) {
		return {"class":"danger"};
	}
}


$(document).ready(function(){
	
	$("#search_btn").bind("click", function(e){
		
        $("#grid").datagrid("load", {
            obj_id: $("#id_input").val()
        });
        
    });
	
	$("#task_generator_update_btn").bind("click", function(e){
		var row = $("#grid").datagrid("getSelected");
		if(!row) {
			return $.messager.alert('Warning', '请先选择一条数据');
		}
		
		$("#task_generator_update_win").find("#clawer").val(row.id);
		$("#task_generator_update_win").window("open");
	});
	
	$("#task_generator_update_form").submit(function(){
    	$(this).ajaxSubmit({
            dataType: "json",
            success: function(resp, status, xhr, frm) {
                if(!resp.is_ok) {
                    $.messager.alert('warning', resp.reason);
                    return;
                }
                
                $("#task_generator_update_form").form("reset");
                $("#task_generator_update_form").form("clear");
                $("#grid").datagrid("reload");
                $("#task_generator_update_win").window("close");
            }
        });
    	
    	return false;
    });
	
	$("#task_generator_info_btn").bind("click", function(e){
		var row = $("#grid").datagrid("getSelected");
		if(!row) {
			return $.messager.alert('Warning', '请先选择一条数据');
		}
		
		var item = row.runing_task_generator;
		var html = [
		    "<h4>",
		    "ID: ",
		    item.id,
		    ", ",
		    item.add_datetime,
		    ", ",
		    item.last_failed_reason,
		    "<pre>",
		    item.failed_reason,
		    "</pre>",
		    "<small class='text-muted'>",
		    "    Crontab: ",
		    item.cron,
		    "</small>",
		    "</h4>",
		    "<pre class='highlight'>",
		    "<code>",
		    item.code,
		    "</code>",
		    "</pre>",
		].join("");
		$("#task_generator_info_win").html(html);
		
		$("#task_generator_info_win").window("open");
		
	});
	
	$("#task_generator_history_btn").bind("click", function(e){
		var row = $("#grid").datagrid("getSelected");
		if(!row) {
			return $.messager.alert('Warning', '请先选择一条数据');
		}
		
		var url = "{% url clawer.apis.home.clawer_task_generator_history %}";
		
		$.getJSON(url, {"clawer_id":row.id}, function(resp){
			if(resp.is_ok == false) {
				return $.messager.alert("warning", resp.reason);
			}
			
			var content = "";
			
			for(var i=0; i<resp.rows.length; i++) {
				var item = resp.rows[i];
				var code = ["<div>",
				    "<h4>",
				    "ID: ",
				    item.id,
				    ", ",
				    item.add_datetime,
				    " <small>",
				    item.status_name,
				    "</small>",
				    "</h4>",
				    "<small>",
				    "Crontab：",
				    item.cron,
				    "</small>",
				    "<pre>",
				    "<code>",
				    "<small class='danger'>",
				    item.failed_reason,
				    "</small>",
				    "<code>",
				    "</pre>",
				    "<pre class='highlight'>",
				    "<code>",
				    item.code,
				    "</code>",
				    "</pre>",
				    "</div>",
				].join("");
				content = content + code;
			}
			console.debug("content is ", content);
			$("#task_generator_history_win").html(content);
			
		});
		
		$("#task_generator_history_win").window("open");
		
	});
	
	//analysis
	$("#analysis_update_btn").bind("click", function(e){
		var row = $("#grid").datagrid("getSelected");
		if(!row) {
			return $.messager.alert('Warning', '请先选择一条数据');
		}
		
		$("#analysis_update_win").find("#clawer").val(row.id);
		$("#analysis_update_win").window("open");
		
		
		$("#analysis_update_form").submit(function(){
	    	$(this).ajaxSubmit({
	            dataType: "json",
	            success: function(resp, status, xhr, frm) {
	                if(!resp.is_ok) {
	                    $.messager.alert('warning', resp.reason);
	                    return;
	                }
	                
	                $("#analysis_update_form").form("reset");
	                $("#analysis_update_form").form("clear");
	                $("#grid").datagrid("reload");
	                $("#analysis_update_win").window("close");
	            }
	        });
	    	
	    	return false;
	    });
		
	});
	
	$("#analysis_runing_btn").bind("click", function(e){
		var row = $("#grid").datagrid("getSelected");
		if(!row) {
			return $.messager.alert('Warning', '请先选择一条数据');
		}
		
		var item = row.runing_analysis;
		var html = [
		    "<h4>",
		    "ID: ",
		    item.id,
		    ", ",
		    item.add_datetime,
		    "</h4>",
		    "<pre class='highlight'>",
		    "<code>",
		    item.code,
		    "</code>",
		    "</pre>",
		].join("");
		$("#analysis_runing_win").html(html);
		
		$("#analysis_runing_win").window("open");
		
	});
	

	$("#analysis_history_btn").bind("click", function(e){
		var row = $("#grid").datagrid("getSelected");
		if(!row) {
			return $.messager.alert('Warning', '请先选择一条数据');
		}
		
		var url = "{% url clawer.apis.home.clawer_analysis_history %}";
		
		$.getJSON(url, {"clawer_id":row.id}, function(resp){
			if(resp.is_ok == false) {
				return $.messager.alert("warning", resp.reason);
			}
			
			var content = "";
			
			for(var i=0; i<resp.rows.length; i++) {
				var item = resp.rows[i];
				var code = ["<div>",
				    "<h4>",
				    "ID: ",
				    item.id,
				    ", ",
				    item.add_datetime,
				    " <small>",
				    item.status_name,
				    "</small>",
				    "</h4>",
				    "<pre class='highlight'>",
				    "<code>",
				    item.code,
				    "</code>",
				    "</pre>",
				    "</div>",
				].join("");
				content = content + code;
			}
			console.debug("content is ", content);
			$("#analysis_history_win").html(content);
			
		});
		
		$("#analysis_history_win").window("open");
		
	});
	
	$("#analysis_failed_reset_btn").bind("click", function(){
		var row = $("#grid").datagrid("getSelected");
		if(!row) {
			return $.messager.alert('Warning', '请先选择一条数据');
		}
		
	     var url = "{% url clawer.apis.home.clawer_task_analysis_failed_reset %}";
		 $.getJSON(url, {"clawer":row.id}, function(resp){
		     if(resp.is_ok) {
				 $.messager.alert("success", "影响数据: " + resp.ret);
		     } else {
		    	 $.messager.alert("warning", "failed: "+resp.reason);
		     }
		     
		 });
	});
	
	
});

</script>



</body>
{% endblock %}