{% extends "clawer/base.html"%}
{% load static %}


{% block body %}
<body>

<div id="toolbar">
    <a href="#" class="easyui-menubutton" menu="#operate">操作</a>
    
    <input type="number" id="id_input" name="id" placeholder="ID" />
    <a href="javascript:void(0)" id="search_btn" class="easyui-linkbutton" data-options="iconCls:'icon-search'">搜索</a>
</div>


<div id="operate">
    <div id="update_btn" iconCls="icon-edit">更新</div>
</div>


<table id="grid" class="easyui-datagrid" style="width:100%;height:100%"
        fitColumns="true" url="{% url clawer.apis.home.clawer_all %}" showFooter="true"
        data-options="singleSelect:true,collapsible:true,method:'get'" rownumbers="true" pagination="true"
        toolbar="#toolbar" rowStyler="rowStyle">
        
    <thead data-options="frozen:true">
        <tr>
            <th data-options="field:'id',width:80" sortable="true">ID</th>
            <th data-options="field:'name',">名称</th>
        </tr>
    </thead>
    <thead>
        <tr>
            <th data-options="field:'status_name',">状态</th>
            <th data-options="field:'setting'," formatter="formatSettingDispatch">每次分发任务数</th>
            <th data-options="field:'s1'," formatter="formatSettingAnalysis">每次分析数</th>
            <th data-options="field:'sproxy'," formatter="formatSettingProxy">Proxy</th>
            <th data-options="field:'engine'," formatter="formatSettingDownloadEngine">下载引擎</th>
            <th data-options="field:'crontab'," formatter="formatCrontab">任务生成器Cron</th>
            <th data-options="field:'s2'," formatter="formatSettingLastUpdateDatetime">最后修改时间</th>
        </tr>
    </thead>    
</table>


<!-- update form -->
<div id="update_win" class="easyui-window" title="更新参数" closed="true" style="width:80%;height:60%;padding:5px;">


    <form method="post" id="update_form" action="{% url clawer.apis.home.clawer_setting_update %}">
        <table style="width:100%;">
            <tr>
                <td>每次分发任务数</td>
                <td>
                    <input name="dispatch" class="easyui-numberbox" style="width: 50%;">
				    <input id="clawer" name="clawer" type="hidden" />
				</td>
            </tr>
            <tr>
                <td>每次分析数</td>
                <td><input name="analysis" class="easyui-numberbox" style="width: 50%;"></td>
            </tr>
            <tr>
                <td>Proxy</td>
                <td><input name="proxy" class="easyui-textbox" style="width: 80%; height: 100px;" placeholder="多个proxy，请换行" multiline="true" /></td>
            </tr>
            <tr>
                <td>下载引擎</td>
                <td>
                    <select id="id_download_engine" class="easyui-combobox" name="download_engine" style="width:200px;">
					    <option value="requests">requests</option>
					    <option value="selenium">selenium</option>
					    <option value="phantomjs">phantomjs</option>
					</select>
                </td>
            </tr>
            <tr>
                <td><button class="easyui-linkbutton" style="width: 50px" type="submit">保存</button></td>
                <td></td>
            </tr>
        </table>
    </form>
    
</div>
<!-- update form end -->





<script type="text/javascript">

function formatSettingDispatch(val, row) {
	if(!val) {
		return "-";
	}
	
	return row.setting.dispatch;
}

function formatSettingAnalysis(val, row) {
	if(!row.setting) {
		return "";
	}
	return row.setting.analysis;
}

function formatSettingLastUpdateDatetime(val, row) {
	if(!row.setting) {
		return "";
	}
	return row.setting.last_update_datetime;
}

function formatSettingProxy(val, row) {
	if(!row.setting) {
		return "";
	}
	return row.setting.proxy;
}

function formatSettingDownloadEngine(val, row) {
	if(!row.setting) {
		return "";
	}
	return row.setting.download_engine;
}

function formatCrontab(val, row) {
	if(!row.runing_task_generator) {
		return "";
	}
	return row.runing_task_generator.cron;
}


function rowStyle(index, row) {
	console.debug("index ", index, ", row status ", row.status, ", row ", row);
	if(row.status == 2) {
		return {"class":"danger"};
	}
}

$(document).ready(function(){
	
	$("#search_btn").bind("click", function(e){
		
        $("#grid").datagrid("load", {
            obj_id: $("#id_input").val()
        });
        
    });
	
	$("#update_btn").bind("click", function(e){
		var row = $("#grid").datagrid("getSelected");
		if(!row) {
			return $.messager.alert('Warning', '请先选择一条数据');
		}
		
		$("#update_win").find("#clawer").val(row.id);
		$("#update_form").form("load", {
			clawer:row.id, 
		    dispatch: row.setting.dispatch,
		    analysis: row.setting.analysis,
		    proxy: row.setting.proxy,
		    download_engine: row.setting.download_engine
		});
		$("#id_download_engine").combobox("setValue", row.setting.download_engine);
		$("#update_win").window("open");
	});
	
	$("#update_form").submit(function(){
		
    	$(this).ajaxSubmit({
            dataType: "json",
            success: function(resp, status, xhr, frm) {
                if(!resp.is_ok) {
                    $.messager.alert('warning', resp.reason);
                    return;
                }
                
                $("#update_form").form("reset");
                $("#update_form").form("clear");
                $("#grid").datagrid("reload");
                $("#update_win").window("close");
            }
        });
    	
    	return false;
    });
	
	
});

</script>



</body>
{% endblock %}