{% extends "clawer/base.html"%}
{% load static %}


{% block body %}
<body>


<div id="toolbar">
    <select class="easyui-combogrid" type="text" id="id_clawer_select" data-options="required:true" style="width:100px;" ></select>
    <a class="easyui-linkbutton" href="javascript:void(0)" id="show_echarts_btn">图形化</a>
</div>



<table id="grid" class="easyui-datagrid" style="width:100%;height:100%"
        url="{% url clawer.apis.monitor.hour %}" showFooter="true"
        data-options="singleSelect:true,collapsible:true,method:'get'" rownumbers="true" pagination="true"
        toolbar="#toolbar" fitColumns="true">
        
    <thead data-options="frozen:true">
        <tr>
            <th data-options="field:'id',width:80" sortable="true">ID</th>
            <th data-options="field:'hour',">时间</th>
        </tr>
    </thead>
    <thead>
        <tr>
            <th data-options="field:'clawer'," formatter="formatClawer">爬虫</th>
            <th data-options="field:'bytes',"  sorted="true" formatter="formatBytes">返回字节</th>
            <th data-options="field:'add_datetime'," sorted="true">添加时间</th>
        </tr>
    </thead>    
</table>


<!-- echarts win -->
<div id="echarts_win" class="easyui-window" title="" closed="true" style="width:80%;height:70%;padding:5px;">
    <div id="echarts" style="height:300px;width:98%;"></div>
    
    <script src="{% static 'echarts/build/dist/echarts.js' %}"></script>
</div>
<!-- echarts win -->



<script type="text/javascript">

function formatClawer(val) {
	if(!val) {
		return "";
	}
	return val.id+"("+val.name+")";
}


function formatBytes(val) {
	if(!val) {
		return 0;
	}
	
	var G = 1024*1024*1024;
	var M = 1024*1024;
	var K = 1024;
	
	if(val > G) {
		return (val/G).toFixed(2) + "G";
	} else if(val > M) {
		return (val/M).toFixed(2) + "M";
	} else if(val > K) {
		return (val/K).toFixed(2) + "K";
	}
	
	return val;
}


function load_clawers() {
	var url = "{% url clawer.apis.home.clawer_all %}";
		
	$("#id_clawer_select").combogrid({
		panelWidth:450,
		mode: 'remote',
		url: url,
		idField: 'id',
	    textField: 'name',
		columns: [[
			{field:'id',title:'ID',width:80,sortable:true},
			{field:'name',title:'名称',width:120,sortable:true},
			{field:'info',title:'简介',width:250,sortable:true}
		]],
		onChange: function(new_value, old_value) {
			reload_datagrid();
		}
	});
	
}

function reload_datagrid() {
	var clawer_id = $("#id_clawer_select").combobox("getValue");
	
	$('#grid').datagrid('load', {
	    clawer: clawer_id
	});
}


$(document).ready(function(){
	load_clawers();
	
	$("#show_echarts_btn").bind("click", function(e){
		var win = $("#echarts_win");
		var clawer_id = $("#id_clawer_select").combobox("getValue");
		
		if(!clawer_id) {
			$.messager.alert("warning", "请先选择一个爬虫");
			return;
		}
		
		win.window({"title": clawer_id});
		win.window('open');
		
		//begin to render echarts
		require.config({
		    paths: {
		        echarts: "{% static 'echarts/build/dist' %}"
		    }
		});

		require(
		        [
		            'echarts',
		            'echarts/chart/bar',
		            'echarts/chart/line'
		        ],
		        function (ec) {
		            // 基于准备好的dom，初始化echarts图表
		            var chart = ec.init(document.getElementById('echarts')); 
		            
		            chart.showLoading({
		                text: '正在努力的读取数据中...',    //loading话术
		            });
		                    
		            function load_data() {
		            	var url = "{% url clawer.apis.monitor.hour_echarts %}";
		            	
		            	$.getJSON(url, {clawer_id:clawer_id}, function(resp){
		            		
		            		var option = {
		           				tooltip : {
		           			        trigger: 'axis'
		           			    },
			           			legend: {
			           		        data:['字节数']
			           		    },
			           			xAxis : [
		                            {
		                                type : 'category',
		                                boundaryGap : false,
		                                data : resp.xAxis
		                            }
		                        ],
		                        yAxis : [
		                            {
		                                type : 'value'
		                            }
		                        ],
		                        calculable : true,
		                        toolbox: {
		                            show : true,
		                            feature : {
		                                mark : {show: true},
		                                dataView : {show: true, readOnly: false},
		                                magicType : {show: true, type: ['line', 'bar', 'stack', 'tiled']},
		                                restore : {show: true},
		                                saveAsImage : {show: true}
		                            }
		                        },
		                        dataZoom : {
		                            show : true,
		                            realtime : true,
		                            start : 0,
		                            end : 100
		                        },
		                        series: [
									{
									    name:"bytes", 
										type:'line',
										smooth:true,
										itemStyle: {normal: {areaStyle: {type: 'default'}}},
										data: resp.series[0]
									}
		                        ]
		                    };
		            		
		            		chart.hideLoading();
		            		chart.setOption(option); 
		            	});
		            }
		            
		            load_data();
		            
		        }
		    );
		
	});
});
</script>



</body>
{% endblock %}